.idea
build
site.yml
slides-context.yml
.gradle
*.iml
*.ipr
*.iws
local.properties
_msg_.txt
workspace-engine.tar
workspace-engine
postgresql.yml
.kotlin
#readme-truth.yml
#plantuml-test-config.yml
.webui_secret_key