prompt.adoc
prompt.pdf
prompt.docx
prompt.html
output.txt
../../office/settings/client_secret_test_googleusercontent.json
.kotlin
.ideaDataSources
dataSources
server.log
# Project exclude paths
../../office/settings/e3p0.yaml
../../office/settings/e-3po.yaml
../../office/settings/managed-jbake-context.yml
/browser/build/
/build/
/build/js/packages/section-browser/kotlin/
/common/build/
/desktop/build/
.gradle
.idea
gradle/wrapper/gradle-wrapper.jar
data
section.code-workspace
simple-server/bin
kotlin-js-store/yarn.lock
local.properties
private
bin
.classpath
.project
.settings
src/main/resources/application-mailslurp.yml
.vscode
kotlin-springboot.code-workspace
*.iws
*.iml
*.ipr